.button {
  padding: 0 0.25rem;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);  
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --background: transparent;
  background-color: transparent !important;
}

.card {
  min-width: 25rem;
  border-radius: 0.9rem;
  border-width: 0.3rem;
  border-style: solid;
}

.searchBox {
    border-radius: 2rem;
    border-width: 0.1rem;
    border-style: solid;
}