.button {
  padding: 0 0.25rem;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);  
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --background: transparent;
  background-color: transparent !important;
}

.card {
  min-width: 25rem;
  border-radius: 0.9rem;
  border-width: 0.3rem;
  border-style: solid;
  margin-bottom: 0.5rem;
}

.searchBox {
    border-radius: 2rem;
    border-width: 0.2rem;
    padding: 0.2rem;
    border-style: solid;
    margin-bottom: 0;
}

.resultsList {
  cursor: pointer;
}

.thumbnail {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
  margin-right: 1rem;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}

.resultsLabel {
  user-select: none !important;
}