.guessItem {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-wrap: pretty;
    word-wrap: break-word;
    border: solid 0.15rem var(--ion-color-warning-contrast);
}

.guessIcon {
    color: var(--ion-color-warning-contrast);
    width: 1.5rem;
    height: 1.5rem;
    z-index: -1;
}

.guessText {
  color: var(--ion-color-warning-contrast);
  font-weight: 600;
  font-size:calc(100% - 0.15vw);
  text-align: center;
}