.button {
  font-size: 2.2rem;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --background: transparent;
  background-color: transparent !important;
}

.footerIcons, 
.footerNote, 
.footerPrivacy {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px rgba(0,0,0.5);
}

.footerPrivacyLink {
  font-family: var(--about-font-family);
  color: var(--about-text-color);
  text-shadow: 1px 1px 2px rgba(0,0,0.5);
  text-decoration: none;
}

.footerPrivacyLink:hover {
  text-decoration: underline;
}